@import "./scss/_header.scss";
@import "./scss/_main.scss";
@import "./scss/_footer.scss";
@import "./scss/_etc.scss";

ul {
    list-style: none;
}

body {
    background-color: #f3f3f3 !important;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
input,
select,
textarea {
    background-color: transparent;
    outline: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

a {
    text-decoration: none !important;
}

.iconnewglobal-logo {
    background-image: url(//cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/homev2/desk/iconnew.webp);
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    background-size: 310px 257px;
}

.iconglobalcheck-logo {
    background-image: url(//cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/homev2/desk/icon_common@2x.webp);
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    background-size: 300px 200px;
}

.website-logo {
    background-image: url(//cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/Logo-webmoi.webp);
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    background-size: 300px 200px;
    height: 24px;
    width: 80px;
}

.input-icon {
    background-image: url(https://cdn.tgdd.vn/mwgcart/orderhistory/images/2022/icons@2022.png);
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    background-size: 490px 224px;
}
