footer {
    ul li span {
        color: #2f80ed;
        font-weight: bold;
    }
}

.fb {
    color: #4363b5;
}

.ytb {
    color: #fe0102;
}

.zalo {
    color: #ce1d4d;
}

.icon-branch {
    color: #2f80ed;
}

.icon-congthuong {
    background-position: -200px -30px;
    height: 24px;
    width: 79px;
}
