.header {
    background-color: #ffd400 !important;
}
header {
    .mobile-responsive {
        display: none;
    }

    .pc-reponsive {
        display: block;
    }
    .header-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .header-listtop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20%;
    }

    .header-center {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: #ffd400;
        height: 40px;
        margin: 10px 0;
    }

    .header-logo {
        background-position: 0 -176px;
        width: 228px;
        height: 40px;
    }

    .header-center .header-address {
        background-color: #ffbc06 !important;
        position: relative;
        border-radius: 4px !important;
        height: 100%;
        &::before {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #000;
            content: "";
            position: absolute;
            top: 43%;
            right: 7px;
        }

        .address {
            text-align: left;
            font-size: 11px;
        }
    }

    .search {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-radius: 4px;
        padding: 2px 16px;
        font-size: 14px;

        input {
            border: none;
            margin-bottom: 0 !important;
            outline: none;
        }
    }

    .acc {
        text-align: center;
        background-color: #ffbc06;
        text-decoration: none;
        width: 100px;
        height: 46.6px;
        font-size: 13px;
        padding: 2px 8px;
        color: #000;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            background-position: -48px 0;
            width: 25px;
            height: 24px;
        }
        b {
            margin-left: 3px;
        }
    }

    .divitem {
        text-align: center;
        a {
            text-decoration: none;
            color: #000;
        }
    }

    .header-bottom {
        background-color: #ffd400;
        width: 100%;
        ul {
            display: flex;
            align-items: center;

            justify-content: space-between;
            margin: unset !important;
            padding: 0;
            li {
                cursor: pointer;
                list-style: none;
                padding: 10px;

                &:hover {
                    background-color: #fbf499;
                    border-radius: 8px 8px 0 0;
                }
                img {
                    width: auto;
                    height: 20px;
                    object-fit: cover;
                    vertical-align: middle;
                    padding-right: 4px;
                }

                span {
                    display: inline-block;
                    font-size: 16px;
                    vertical-align: middle;
                }
            }

            a {
                color: #000;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.bordercol {
    background-color: #ffe56c;
    height: 32px;
    width: 1px;
}

@media screen and (max-width: 500px) {
    .mobile-responsive {
        display: block !important;
    }
    .pc-reponsive {
        display: none !important;
    }
    .mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        .branch {
            background-position: 0 0;
            width: 31px;
            height: 31px;
        }

        .cart {
            background-position: -48px 0;
            width: 25px;
            height: 24px;
        }

        .menu {
            background-position: -77px 0;
            width: 26px;
            height: 26px;
        }
        .address {
            font-size: 12px;
            i {
                margin-right: 5px;
                color: #fff;
            }
        }

        .header-top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .order-and-acc {
            font-size: 13px;
        }
        .header-input {
            width: 100%;
            display: flex;

            input {
                width: 100%;
                background-color: #fff;
                border: none;
                outline: none;
                font-size: 14px;
                line-height: 14px;
                color: #333;
                padding: 10px;
                border-radius: 8px 0 0 8px;
            }
            i {
                background-color: #fff;
                border-radius: 0 8px 8px 0;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                color: #333;
            }
        }
        .header-bottom {
            font-size: 13px;
            margin: 10px 0 20px;

            ul li {
                margin: unset;
                padding: unset;
            }
        }
    }
}
